.myload {
    background-color: #ccc;
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0.5;
    
}

.loader {
    display: flex;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}